<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- header section starts -->

    <header class="header">
        <section class="flex">
            <a href="#home" class="logo">Tech<span>Yodhas.</span></a>

            <nav class="navbar">
                <a href="#home">home</a>
                <a href="#about">about</a>
                <a href="#courses">courses</a>
                <a href="#teachers">teachers</a>
                <a href="#reviews">reviews</a>
                <a href="#contact">contact</a>
                <a href="/logout" id="logout">Logout</a>

            </nav>

            <div id="menu-btn" class="fas fa-bars"></div>
        </section>
    </header>

    <!-- header section ends -->


    <!-- home section starts -->

    <section class="home" id="home">
        <div class="row">

            <div class="content">
                <h3>online <span>education</span></h3>
                <a href="#contact" class="btn">contact us</a>
            </div>
            <div class="image">
                <img src="/images/student1.png" alt="">
            </div>
        </div>
    </section>

    <!-- home section ends -->



    <!-- counter section starts -->

    <section class="count">

        <div class="box-container">

            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <div class="content">
                    <h3>06+</h3>
                    <p>courses</p>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-user-graduate"></i>
                <div class="content">
                    <h3>00</h3>
                    <p>students</p>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-chalkboard-user"></i>
                <div class="content">
                    <h3>06+</h3>
                    <p>teachers</p>
                </div>
            </div>

            <div class="box">
                <i class="fas fa-face-smile"></i>
                <div class="content">
                    <h3>100%</h3>
                    <p>satisfaction</p>
                </div>
            </div>

        </div>

    </section>

    <!-- counter section ends -->
    <!-- about section starts -->



    <section class="about" id="about">

        <div class="row">

            <div class="image">
                <img src="/images/student2.png" alt="image.png">
            </div>

            <div class="content">
                <h3>why choose us?</h3>
                <p>Our platform is specifically designed with the unique challenges of rural communities in mind. We offer offline access to resources, ensuring learning is not disrupted by unreliable internet connections. Additionally, our platform is lightweight and optimized for low-bandwidth environments, making it accessible even in areas with limited connectivity.</p>
                <a href="#contact" class="btn">contact us</a>
            </div>

        </div>
    </section>


    <!-- about section ends -->

    <!-- courses section starts -->

    <section class="courses" id="courses">

        <h1 class="heading">our <span>courses</span></h1>

        <div class="swiper course-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <img src="/images/course1.svg" alt="">
                    <h3><a href="#">Teaching</a></h3>  
                    <p>Learn how to teach students online effectively.</p>
                </div>

                <div class="swiper-slide slide">
                    <img src="/images/course2.svg" alt="">
                    <h3><a href="/content">Science - (1-12)</a></h3>
                    <p>Get tutioned for 1-12 class science by your favourite teachers.</p>
                </div>

                <div class="swiper-slide slide">
                    <img src="/images/course3.svg" alt="">
                    <h3><a href="#"> Web Developement</a></h3>
                    <p>Learn to Create Responsive websites with us.</p>
                </div>

                <div class="swiper-slide slide">
                    <img src="/images/course4.svg" alt="">
                    <h3><a href="#"> Time management</a></h3>
                    <p>Learn to manage your precious time and balance your life.</p>
                </div>

                <div class="swiper-slide slide">
                    <img src="/images/course5.svg" alt="">
                    <h3><a href="#"> Mathematics - (1-12)</a></h3>
                    <p>Get tutioned for 1-12 mathematics by your favourite teachers.</p>
                </div>

                <div class="swiper-slide slide">
                    <img src="/images/course6.svg" alt="">
                    <h3><a href="#"> English - (Grammar & Speaking)</a></h3>
                    <p>Learn English grammar for boards and Learn English speaking.</p>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>

    <!-- courses section ends -->

    <!-- teachers section starts -->

    <section class="teachers" id="teachers">

        <h1 class="heading">expert <span>tutors</span></h1>

        <div class="swiper teachers-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <img src="/images/tutor1.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                    <h3>Ajay Mishra</h3>
                </div>

                <div class="swiper-slide slide">
                    <img src="/images/tutor2.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                    <h3>Vikash Chandra</h3>
                </div>

                <div class="swiper-slide slide">
                    <img src="/images/tutor3.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                    <h3>Vishwanath Singh</h3>
                </div>

                <div class="swiper-slide slide">
                    <img src="images/tutor4.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                    <h3>Uday Shankar Dubey</h3>
                </div>

                <div class="swiper-slide slide">
                    <img src="images/tutor5.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                    <h3>Kumar Chandan</h3>
                </div>

                <div class="swiper-slide slide">
                    <img src="/images/tutor6.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                    <h3>Anshuman Singh</h3>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>

    <!-- teachers section ends -->

    <!-- reviews section starts -->

    <section class="reviews" id="reviews">

        <h1 class="heading">student's <span>reviews</span></h1>

        <div class="swiper reviews-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <p>"This platform has been a game-changer for me. Living in a rural area, we often face internet issues, but with this platform, I can access all my study materials offline. It has made learning so much easier and more convenient. I feel more confident about my studies now!</p>

                    <div class="user">
                        <img src="/images/user1.jpg" alt="">
                        <div class="user-info">
                            <h3>Suresh M.,</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>"I was struggling to find good educational resources in my village, but this platform has everything I need. The content is really easy to understand, and I can study at my own pace. The interactive lessons make learning fun, and I no longer feel left behind."</p>

                    <div class="user">
                        <img src="/images/user2.jpg" alt="">
                        <div class="user-info">
                            <h3>Priya L.</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>"This platform has helped me improve my grades significantly. The tutorials are clear, and I love that I can download the lessons and study even when there’s no internet. It’s so much better than anything we’ve had before in our village!"</p>

                    <div class="user">
                        <img src="/images/user3.jpg" alt="">
                        <div class="user-info">
                            <h3>Aarti</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>"I was struggling to find good educational resources in my village, but this platform has everything I need. The content is really easy to understand, and I can study at my own pace. The interactive lessons make learning fun, and I no longer feel left behind."</p>

                    <div class="user">
                        <img src="/images/user4.jpg" alt="">
                        <div class="user-info">
                            <h3>John</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>"Before using this platform, preparing for my exams was a challenge due to limited resources. Now, I have access to a wide range of materials and practice tests that help me stay ahead. I’m so grateful for the opportunities this platform has provided for students like me."</p>

                    <div class="user">
                        <img src="/images/user5.jpg" alt="">
                        <div class="user-info">
                            <h3>Suresh K.</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>"This platform has helped me improve my grades significantly.The tutorials are clear,and I love that I can download the lessons and study even when there’s no internet.It’s so much better than anything we’ve had before in our village"</p>

                    <div class="user">
                        <img src="/images/user6.jpg" alt="">
                        <div class="user-info">
                            <h3>Khushi</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </section>

    <!-- reviews section ends -->

    <!-- contact section starts -->

    <section class="contact" id="contact">

        <h1 class="heading"><span>contact</span> us</h1>

        <div class="row">

            <div class="image">
                <img src="/images/contact.webp" alt="">
            </div>

            <form action="content" method="POST">
                <span>your name</span>
                <input type="text" required placeholder="enter your full name" maxlength="50" class="box" name="name" autocomplete="name" required>
                <span>your email</span>
                <input type="email" required placeholder="enter your valid email" maxlength="50" class="box" name="email" autocomplete="email">
                <span>your number</span>
                <input type="number" required placeholder="enter your valid number" min="0" max="9999999999" class="box" name="number" onkeypress="if(this.value.length == 10) return false;">
                <span>select course</span>
                <select name="courses" class="box">
                    <option value="" disabled selected>select the course --</option>
                    <option value="teaching">teaching</option>
                    <option value="web developement">web developement</option>
                    <option value="science">science</option>
                    <option value="time management">time management</option>
                    <option value="mathematics">mathematics</option>
                    <option value="english">english</option>
                </select>
                <span>select gender</span>
                <div class="radio">
                    <input type="radio" name="gender" value="male" id="male">
                    <label for="male">male</label>
                    <input type="radio" name="gender" value="female" id="female">
                    <label for="female">female</label>
                </div>
                <input type="submit" value="send message" class="btn" name="send">

            </form>

        </div>

    </section>

    <!-- contact section ends -->

    <!-- footer section starts -->

    <footer class="footer">

        <section class="fotter">

            <div class="share">
                <a href="" class="fab fa-facebook-f"></a>
                <a href="" class="fab fa-twitter"></a>
                <a href="" class="fab fa-instagram"></a>
                <a href="" class="fab fa-linkedin"></a>
                <a href="" class="fab fa-youtube"></a>
            </div>

            <div class="credit">&copy; copyright 2024 by Tech<span>Yodhas.</span> | all rights reserved!</div>

        </section>

    </footer>

    <!-- footer section ends -->









    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="/scripts/scripts.js"></script>
    <script src="/scripts/main.js"></script>
</body>

</html>